# .NET Core
bin/
obj/
*.user
*.userosscache
*.suo
*.userprefs
*.dbmdl
*.jfm
*.ncrunch*
*.ntvs*
*.resharper
*.resharper.user
*.sln.docstates
*.resharper
*.resharper.user
*.sln.cache
*.user
*.userprefs
*.dbmdl
*.jfm
*.ncrunch*
*.ntvs*
*.resharper
*.resharper.user
*.sln.cache
*.user
*.userprefs
*.dbmdl
*.jfm
*.ncrunch*
*.ntvs*
*.resharper
*.resharper.user
*.sln.cache
*.user
*.userprefs
*.dbmdl
*.jfm
*.ncrunch*
*.ntvs*
*.resharper
*.resharper.user
*.sln.cache
*.user
*.userprefs
*.dbmdl
*.jfm
*.ncrunch*
*.ntvs*
*.resharper
*.resharper.user
*.sln.cache
*.user
*.userprefs
*.dbmdl
*.jfm
*.ncrunch*
*.ntvs*
*.resharper
*.resharper.user
*.sln.cache
*.user
*.userprefs
*.dbmdl
*.jfm
*.ncrunch*
*.ntvs*
*.resharper
*.resharper.user
*.sln.cache
*.user
*.userprefs
*.dbmdl
*.jfm
*.ncrunch*
*.ntvs*
*.resharper
*.resharper.user
*.sln.cache
*.user
*.userprefs
*.dbmdl
*.jfm
*.ncrunch*
*.ntvs*
*.resharper
*.resharper.user
*.sln.cache
*.user
*.userprefs
*.dbmdl
*.jfm
*.ncrunch*
*.ntvs*
*.resharper
*.resharper.user
*.sln.cache
*.user
*.userprefs
*.dbmdl
*.jfm
*.ncrunch*
*.ntvs*
*.resharper
*.resharper.user
*.sln.cache
*.user
*.userprefs
*.dbmdl
*.jfm
*.ncrunch*
*.ntvs*
*.resharper
*.resharper.user
*.sln.cache
*.user
*.userprefs
*.dbmdl
*.jfm
*.ncrunch*
*.ntvs*
*.resharper
*.resharper.user
*.sln.cache
*.user
*.userprefs
*.dbmdl
*.jfm
*.ncrunch*
*.ntvs*
*.resharper
*.resharper.user
*.sln.cache
*.user
*.userprefs
*.dbmdl
*.jfm
*.ncrunch*
*.ntvs*
*.resharper
*.resharper.user
*.sln.cache
*.user
*.userprefs
*.dbmdl
*.jfm
*.ncrunch*
*.ntvs*
*.resharper
*.resharper.user
*.sln.cache
*.user
*.userprefs
*.dbmdl
*.jfm
*.ncrunch*
*.ntvs*
*.resharper
*.resharper.user
*.sln.cache
*.user
*.userprefs
*.dbmdl
*.jfm
*.ncrunch*
*.ntvs*
*.resharper
*.resharper.user
*.sln.cache
*.user
*.userprefs
*.dbmdl
*.jfm
*.ncrunch*
*.ntvs*
*.resharper
*.resharper.user
*.sln.cache
*.user
*.userprefs
*.dbmdl
*.jfm
*.ncrunch*
*.ntvs*
*.resharper
*.resharper.user
*.sln.cache
*.user
*.userprefs
*.dbmdl
*.jfm
*.ncrunch*
*.ntvs*
*.resharper
*.resharper.user
*.sln.cache
*.user
